body {
    font-family: 'Abel', sans-serif;
    background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
    background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
    color: #333;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 1%;
    color: white;
}

.logo {
    border-right: 2px solid rgb(255, 255, 255);
    cursor: default;
    min-width: 12%;
    max-height: 5vh;
}

.nav_links {
    min-width: 20%;
    max-height: 5vh;
}

.nav_links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

.nav_links li {
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

.nav_links a:hover, .nav_links button:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: inherit;
}

.nav_links button {
    all: unset;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.dropdown-menu {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    z-index: 1000;
    display: none;
    border-left: 5px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-top: 5px;
}

.dropdown-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
    border-radius: 8px;
    color: white;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}

.joining {
    display: flex;
    justify-content: space-around;
    border-left: 2px solid rgb(255, 255, 255);
    min-width: 12%;
}

.l_btn a, .s_btn :hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 6px;
    border-radius: 40px;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    transition: background-color 0.3s, color 0.3s;
}

.s_btn a, .l_btn a:hover {
    background-color: inherit;
    color: rgb(255, 255, 255);
    margin: 6px;
    border-radius: 40px;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none;
    color: white;
}

.separator {
    border-bottom: 2.5px solid rgb(255, 255, 255);
    width: 90%;
    margin: 0 auto;
    margin-top: 6px;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.chatbox {
    width: 80%;
    background-color: #b0c9d8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url('../images/Stethoscope.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.chat-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #8da5b4;
}

.chat-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user_info span {
    font-size: 2.2em;
    font-weight: bold;
}

.user_info p {
    font-size: 0.9em;
    color: #555;
    margin: 0;
}

.message-area {
    height: 75%;
    overflow-y: auto;
    margin-top: 10px;
}

.message-area::-webkit-scrollbar {
    display: none;
}

.chat-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #8da5b4;
}

#chatForm {
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    background-color: #e3eff4;
}

.chat-footer button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.chat-footer button:hover {
    background-color: inherit;
    color: black;
}

.dropdown-menu {
    position: absolute;
    background: linear-gradient(to right, rgba(38, 51, 61, 0.507), rgba(50, 55, 65, 0.512), rgba(33, 33, 78, 0.527));
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
}

.dropdown-menu a:hover {
    color: #0072bc;
    background-color: #c0d1dc;
    border-radius: 5px;
}

.msg-container {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.msg-container.user {
    justify-content: flex-end;
    text-align: right;
}

.msg-container.bot {
    justify-content: flex-start;
    text-align: left;
}

.msg-container .message {
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #8da5b4;
    color: #000000;
}

.msg-container.user .message {
    background-color: #0072bc;
}

.msg-time {
    font-size: 0.8em;
    color: #555;
    margin: 0 10px;
}

@media (max-width: 400px) {
    #chatForm {
        flex-direction: column;
    }

    .chat-footer input[type="text"] {
        margin-right: 0px;
    }

    .chat-footer button {
        margin-top: 4px;
    }
}

@media (max-width: 800px) {
    .navBar {
        flex-direction: column;
        align-items: center;
        height: 40vh;
    }

    .nav_links {
        max-height: 15vh;
    }

    .nav_links ul {
        flex-direction: column;
        align-items: center;
        margin: initial;
        width: initial;
        padding: unset;
    }

    .joining {
        border-left: none;
    }

    .logo {
        border-right: none;
    }
}
