/* Loader Styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader-gif {
    width: 100px;
    height: 100px;
}

/* Custom scrollbar styles for WebKit browsers */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f1f8f7;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #337ab7;
    border-radius: 8px;
    border: 2px solid #f1f8f7;
}