/* General styling */
body {
    font-family: 'Abel', sans-serif;
    background-color: #e0f7f9;
    background-image: url('../images/BackGround_img_frg_pswd.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Custom scrollbar styles for WebKit browsers */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f8f7;
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #337ab7;
    border-radius: 8px;
    border: 2px solid #f1f8f7;
}

/* Main container with blur effect and responsive padding */
.container {
    background-color: rgba(169, 218, 218, 0.6);
    padding: 5%;
    border-radius: 7px;
    max-width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form title */
h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 1.1em;
    color: #333;
}

/* Input styling */
.form-control {
    width: 80%;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #337ab7;
    outline: none;
    box-shadow: 0 0 5px rgba(51, 122, 183, 0.8);
}

/* Button styling */
button[type="submit"] {
    font-size: 1.1em;
    color: #337ab7;
    background-color: inherit;
    border: 2px solid #337ab7;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 15px;
}

button[type="submit"]:hover {
    background-color: #337ab7;
    color: white;
}

button[type="submit"]:active {
    background-color: #286090;
    border-color: #204d74;
}

/* Flash message styling */
.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 10%;
    }
}
