<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta for Responsive Design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav_Icon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Intelli_Logo.png') }}">
    <!-- CSS Import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_task.css.css') }}">
    <!-- Loader CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <script src="{{ url_for('static', filename='js/loader.js') }}" defer></script>
    <!-- Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Edit Task</title>
</head>

<body>

    <div id="loader" class="loader">
        <img src="{{ url_for('static', filename='images/Giffy-Loader.gif') }}" alt="Loading..." class="loader-gif">
    </div>

    <div class="container">
        <div class="row-container"></div>
        <h1>Edit Task</h1>
        <div class="task-add-form">
            <form method="POST">
                <div class="form-group">
                    <label for="task" class="form-label">Task</label>
                    <input type="text" name="task" id="task" class="form-input" placeholder="Edit Task"
                        value="{{ task['task'] }}" required>
                </div>
                <div class="form-group">
                    <label for="group" class="form-label">Group</label>
                    <input type="text" name="group" id="group" class="form-input" placeholder="Edit Group"
                        value="{{ task['group'] }}">
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn">Update Task</button>
                    <a href="{{ url_for('todo_app.index') }}" class="btn btn-secondary">Back to To-Do List</a>
                </div>
        </div>
        </form>
    </div>
    </div>
</body>

</html>