<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta for Responsive Design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav_Icon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Intelli_Logo.png') }}">
    <!-- CSS Import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
    <!-- Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>IntelliHelper - Forgot Password</title>
</head>
<body>
    <!-- Brief Details -->
     <div class="FP_b_detail">
        <h1 id="b_header">Looks Like You Are Lost!!!!</h1>
        <img class="forgot-password-img" src="{{ url_for('static', filename='images/Forgot_Password_Lost.gif') }}" alt="Giffy for the Forgot Password">
        <h4 id="b_footer">Reset Password, Now</h4>
     </div>

     <div class="container">
        <h2>Forgot Password!!??</h2>
    
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
        <!-- Forgot Password Form -->
        <form action="{{ url_for('profile.forgot_password') }}" method="POST">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn">Send Reset Link</button>

            <p class="reset-link-info">Send Reset Link To the Logged in Email ID.</p>
        </form>
    </div>
</body>
</html>