<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta for Responsive Design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav_Icon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Intelli_Logo.png') }}">
    <!-- CSS Import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
    <!-- Loader CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <script src="{{ url_for('static', filename='js/loader.js') }}" defer></script>
    <!-- Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>
    <div id="loader" class="loader">
        <img src="{{ url_for('static', filename='images/Giffy-Loader.gif') }}" alt="Loading..." class="loader-gif">
    </div>

    <div class="container">
        <h2>Reset Password</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>
    </div>
</body>
</html>
