<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta for Responsive Design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav_Icon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Intelli_Logo.png') }}">
    <!-- CSS Import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
    <!-- Loader CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <script src="{{ url_for('static', filename='js/loader.js') }}" defer></script>
    <!-- Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>IntelliHelper - {{ note_title }}</title>
</head>
<body>

    <div id="loader" class="loader">
        <img src="{{ url_for('static', filename='images/Giffy-Loader.gif') }}" alt="Loading..." class="loader-gif">
    </div>

    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>
    <div class="shape shape4"></div>

    <div class="container">
        <h1>{{ note_title }}</h1>
        <div class="note-box">
            <div style="font-size: 18px; padding: 10px; font-family: Arial, sans-serif; white-space: pre-line; word-wrap: break-word;">
                {{ note_content | safe }}
            </div>
        </div>
        <div class="action-buttons">
            <a href="javascript:window.history.back();" class="button">Back to Notes</a>
            <a href="{{ url_for('notes_app.download_note', note_id=note_id) }}" class="button">Download Note</a>
        </div>
    </div>    
</body>
</html>
